body {
    background-image: url('../img/fond.png');
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 201, 160);
    padding: 10px;
    width: 750px;
}

nav {
    font-family: 'Oswald';
    display: flex;
    justify-items: center;

}

nav a{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(252, 120, 72);
}
 

main {
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

h2 {
    color:rgb(252, 120, 72);
    font-size: 24px;
    font-family: 'Oswald';
}

article img {
    height: 150px;
    width: 300px;
    padding: 5px;
    float: left ;
}

p{
    font-size: 16px;
}

article a {
    background-color: rgb(252, 120, 72);
    text-decoration: none;
    color: white;
    font-family: 'Oswald';
    padding: 5px;
    margin: 1px;
    float: right;
}

.clear {
    height: 50px;
}

footer {
    padding: 20px;
    color: gray;
}


